# ========================
# ENTORNO VIRTUAL
# ========================
venv/
env/

# ========================
# PYTHON
# ========================
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# ========================
# VARIABLES DE ENTORNO
# ========================
.env
# ========================
# VS CODE
# ========================
.vscode/

# ========================
# SISTEMA OPERATIVO
# ========================
.DS_Store
Thumbs.db

# ========================
# ARCHIVOS TEMPORALES
# ========================
*.tmp
